<!--HTML for directive: td-table.js-->
<span ng-if="!hasChildren">{{StockBoardTickerData.getTickers()[tdTickerStockboardName][tdTickerStockboard] | formatPriceAndVolume:StockBoardConfig.getConfigData().unit:tdTickerStockboardType}}</span>

<!--Can Swipe-->
<span ng-if="hasChildren" class="animated" ng-class="{fadeInLeft:animationLeft,fadeInRight:animationRight}">
    <!--Nếu children kiểu cột đầu tư nước ngoài là trong children lại có thêm nhiều cột-->
    <span ng-if="StockBoardConfig.columnPosition.currentInCol(tdTickerStockboard).isArray === true">
        <span ng-repeat="c in StockBoardConfig.columnPosition.currentInCol(tdTickerStockboard).data">{{StockBoardTickerData.getTickers()[tdTickerStockboardName][tdTickerStockboard][c.data] | formatPriceAndVolume:StockBoardConfig.getConfigData().unit:tdTickerStockboardType}}</span>
    </span>

    <!--Nếu children chỉ chứa 1 cột-->
    <span ng-if="StockBoardConfig.columnPosition.currentInCol(tdTickerStockboard).isArray != true && !(tdTickerStockboard == 'cs1' || tdTickerStockboard == 'cs2') || tdTickerStockboard == 'cs3'">
        {{StockBoardTickerData.getDataCurrentColumn(tdTickerStockboard)[tdTickerStockboardName][tdTickerStockboard][StockBoardConfig.columnPosition.currentInCol(tdTickerStockboard).data] | formatPriceAndVolume:StockBoardConfig.getConfigData().unit:tdTickerStockboardType}}
    </span>

    <span ng-if="(tdTickerStockboard == 'cs1' || tdTickerStockboard == 'cs2') || tdTickerStockboard == 'cs3'">
        {{StockBoardTickerData.getDataCurrentColumn(tdTickerStockboard)[tdTickerStockboardName][StockBoardConfig.columnPosition.currentInCol(tdTickerStockboard).data]}}
    </span>
</span>