<!--FIXME: PLEASE GET BY StockBoardConfig SERVICE-->
<table class="table table-bordered table-striped stock-board-table" ng-style="StockBoardInterface.getStyleWidthColumn()['allWidth']">
    <colgroup>
        <col class="col-symbol" ng-if="StockBoardConfig.getBoardColumn()['code']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['symWidth']">

        <!-- Ref/Ceiling/Floor -->
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['ref']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['cei']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['flo']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">
        <col class="col-vol" ng-if="StockBoardConfig.getBoardColumn()['sVol']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['volWidth']">

        <!-- Bid Side -->
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['bPri3']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">
        <col class="col-vol" ng-if="StockBoardConfig.getBoardColumn()['bVol3']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['volWidth']">
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['bPri2']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">
        <col class="col-vol" ng-if="StockBoardConfig.getBoardColumn()['bVol2']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['volWidth']">
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['bPri1']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">
        <col class="col-vol" ng-if="StockBoardConfig.getBoardColumn()['bVol1']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['volWidth']">

        <!-- Match Section -->
        <col class="col-symbol" ng-if="StockBoardConfig.getBoardColumn()['mCode']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['symWidth']">
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['mPri']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">
        <col class="col-vol" ng-if="StockBoardConfig.getBoardColumn()['mVol']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['volWidth']">
        <col class="col-diff" ng-if="StockBoardConfig.getBoardColumn()['dPri']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['diffWidth']">

        <!-- Offer Side -->
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['oPri1']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">
        <col class="col-vol" ng-if="StockBoardConfig.getBoardColumn()['oVol1']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['volWidth']">
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['oPri2']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">
        <col class="col-vol" ng-if="StockBoardConfig.getBoardColumn()['oVol2']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['volWidth']">
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['oPri3']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">
        <col class="col-vol" ng-if="StockBoardConfig.getBoardColumn()['oVol3']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['volWidth']">

        <!-- High/Low/Average -->
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['hPri']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['aPri']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['lPri']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">

        <!-- Total Vol -->
        <col class="col-vol" ng-if="StockBoardConfig.getBoardColumn()['oVol']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['volWidth']">

        <!-- Foreign -->
        <col class="col-vol" ng-if="StockBoardConfig.getBoardColumn()['fVol']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['volWidth']">
        <col class="col-vol" ng-if="StockBoardConfig.getBoardColumn()['fVol']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['volWidth']">

        <!-- Custom -->
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['cs1']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['cs2']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">
        <col class="col-price" ng-if="StockBoardConfig.getBoardColumn()['cs3']['show'] == true"
             ng-style="StockBoardInterface.getStyleWidthColumn()['priceWidth']">
    </colgroup>
    <thead>
    <tr>
        <th rowspan="2" ng-if="StockBoardConfig.getBoardColumn()['code']['show'] == true">Mã
        </th>
        <th rowspan="2" ng-if="StockBoardConfig.getBoardColumn()['ref']['show'] == true" header-stockboad-config="ref">TC</th>
        <th rowspan="2" ng-if="StockBoardConfig.getBoardColumn()['cei']['show'] == true" header-stockboad-config="cei">Trần</th>
        <th rowspan="2" ng-if="StockBoardConfig.getBoardColumn()['flo']['show'] == true" header-stockboad-config="flo">Sàn</th>
        <th rowspan="2" ng-if="StockBoardConfig.getBoardColumn()['sVol']['show'] == true" header-stockboad-config="sVol">Tổng KL</th>

        <th ng-if="StockBoardConfig.getBoardColumn()['bPri3']['show'] == true ||
         StockBoardConfig.getBoardColumn()['bVol3']['show'] == true ||
         StockBoardConfig.getBoardColumn()['bPri2']['show'] == true ||
         StockBoardConfig.getBoardColumn()['bVol2']['show'] == true ||
         StockBoardConfig.getBoardColumn()['bPri1']['show'] == true ||
         StockBoardConfig.getBoardColumn()['bVol1']['show'] == true"
            colspan="{{(StockBoardConfig.getBoardColumn()['bPri3']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['bVol3']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['bPri2']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['bVol2']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['bPri1']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['bVol1']['show'] == true ? 1 : 0)}}">Bên mua
        </th>
        <th colspan="{{(StockBoardConfig.getBoardColumn()['mCode']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['mPri']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['mVol']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['dPri']['show'] == true ? 1 : 0)}}"
            ng-if="StockBoardConfig.getBoardColumn()['mCode']['show'] == true ||
         StockBoardConfig.getBoardColumn()['mPri']['show'] == true ||
          StockBoardConfig.getBoardColumn()['mVol']['show'] == true ||
           StockBoardConfig.getBoardColumn()['dPri']['show'] == true">Khớp lệnh
        </th>
        <th colspan="{{(StockBoardConfig.getBoardColumn()['oPri3']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['oVol3']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['oPri2']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['oVol2']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['oPri1']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['oVol1']['show'] == true ? 1 : 0)}}"
            ng-if="StockBoardConfig.getBoardColumn()['oPri3']['show'] == true ||
         StockBoardConfig.getBoardColumn()['oVol3']['show'] == true ||
         StockBoardConfig.getBoardColumn()['oPri2']['show'] == true ||
         StockBoardConfig.getBoardColumn()['oVol2']['show'] == true ||
         StockBoardConfig.getBoardColumn()['oPri1']['show'] == true ||
         StockBoardConfig.getBoardColumn()['oVol1']['show'] == true">Bên bán
        </th>

        <th colspan="{{(StockBoardConfig.getBoardColumn()['hPri']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['aPri']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['lPri']['show'] == true ? 1 : 0)}}" ng-if="StockBoardConfig.getBoardColumn()['hPri']['show'] == true ||
        StockBoardConfig.getBoardColumn()['aPri']['show'] == true ||
        StockBoardConfig.getBoardColumn()['lPri']['show'] == true">Giá
        </th>

        <th ng-if="StockBoardConfig.getBoardColumn()['oVol']['show'] == true">Dư</th>

        <th colspan="2"
            ng-if="StockBoardConfig.getBoardColumn()['fVol']['show'] == true">ĐTNN
        </th>

        <th colspan="{{(StockBoardConfig.getBoardColumn()['cs1']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['cs2']['show'] == true ? 1 : 0) +
         (StockBoardConfig.getBoardColumn()['cs3']['show'] == true ? 1 : 0)}}" ng-if="StockBoardConfig.getBoardColumn()['cs1']['show'] == true ||
        StockBoardConfig.getBoardColumn()['cs2']['show'] == true ||
        StockBoardConfig.getBoardColumn()['cs3']['show'] == true">Chỉ Số
        </th>
    </tr>
    <tr>
        <th ng-if="StockBoardConfig.getBoardColumn()['bPri3']['show'] == true" class="" header-stockboad-config="bPri3">Giá 3</th>
        <th ng-if="StockBoardConfig.getBoardColumn()['bVol3']['show'] == true" class="" header-stockboad-config="bVol3">KL 3</th>
        <th ng-if="StockBoardConfig.getBoardColumn()['bPri2']['show'] == true" class="" header-stockboad-config="bPri2">Giá 2</th>
        <th ng-if="StockBoardConfig.getBoardColumn()['bVol2']['show'] == true" class="" header-stockboad-config="bVol2">KL 2</th>
        <th ng-if="StockBoardConfig.getBoardColumn()['bPri1']['show'] == true" class="" header-stockboad-config="bPri1">Giá 1</th>
        <th ng-if="StockBoardConfig.getBoardColumn()['bVol1']['show'] == true" class="" header-stockboad-config="bVol1">KL 1</th>

        <th ng-if="StockBoardConfig.getBoardColumn()['mCode']['show'] == true" class="" header-stockboad-config="mCode">Mã</th>
        <th ng-if="StockBoardConfig.getBoardColumn()['mPri']['show'] == true" class=" " header-stockboad-config="mPri">Giá</th>
        <th ng-if="StockBoardConfig.getBoardColumn()['mVol']['show'] == true" class=" " header-stockboad-config="mVol">KL</th>
        <th ng-if="StockBoardConfig.getBoardColumn()['dPri']['show'] == true">
            <a class="btn-link" ng-click="StockBoardConfig.columnPosition.downPos('dPri')"><i class="fa fa-caret-left"></i></a>
									<span ng-class="{hidden:StockBoardConfig.columnPosition.currentPos('dPri') == 1}" header-stockboad-config="vPri">
										<span>+/-</span>
									</span>
									<span ng-class="{hidden:StockBoardConfig.columnPosition.currentPos('dPri') == 0}" header-stockboad-config="pPri">
										<span>%</span>
									</span>
            <a class="btn-link" ng-click="StockBoardConfig.columnPosition.upPos('dPri')"><i class="fa fa-caret-right"></i></a>
        </th>

        <th ng-if="StockBoardConfig.getBoardColumn()['oPri1']['show'] == true" class="" header-stockboad-config="oPri1">Giá 1</th>
        <th ng-if="StockBoardConfig.getBoardColumn()['oVol1']['show'] == true" class="" header-stockboad-config="oVol1">KL 1</th>
        <th ng-if="StockBoardConfig.getBoardColumn()['oPri2']['show'] == true" class="" header-stockboad-config="oPri2">Giá 2</th>
        <th ng-if="StockBoardConfig.getBoardColumn()['oVol2']['show'] == true" class="" header-stockboad-config="oVol2">KL 2</th>
        <th ng-if="StockBoardConfig.getBoardColumn()['oPri3']['show'] == true" class="" header-stockboad-config="oPri3">Giá 3</th>
        <th ng-if="StockBoardConfig.getBoardColumn()['oVol3']['show'] == true" class="" header-stockboad-config="oVol3">KL 3</th>

        <th ng-if="StockBoardConfig.getBoardColumn()['hPri']['show'] == true" class=" " header-stockboad-config="hPri">Cao</th>
        <th ng-if="StockBoardConfig.getBoardColumn()['aPri']['show'] == true" class=" " header-stockboad-config="aPri">TB</th>
        <th ng-if="StockBoardConfig.getBoardColumn()['lPri']['show'] == true" class=" " header-stockboad-config="lPri">Thấp</th>

        <th ng-if="StockBoardConfig.getBoardColumn()['oVol']['show'] == true">
            <a class="btn-link" ng-click="StockBoardConfig.columnPosition.downPos('oVol')"><i class="fa fa-caret-left"></i></a>
									<span ng-class="{hidden:StockBoardConfig.columnPosition.currentPos('oVol') == 1}">
										<span>Mua</span>
									</span>
									<span ng-class="{hidden:StockBoardConfig.columnPosition.currentPos('oVol') == 0}">
										<span>Bán</span>
									</span>
            <a class="btn-link" ng-click="StockBoardConfig.columnPosition.upPos('oVol')"><i class="fa fa-caret-right"></i></a>
        </th>

        <th ng-if="StockBoardConfig.getBoardColumn()['fVol']['show'] == true" colspan="2">
            <a class="btn-link" ng-click="StockBoardConfig.columnPosition.downPos('fVol')"><i class="fa fa-caret-left"></i></a>
									<span ng-class="{hidden:StockBoardConfig.columnPosition.currentPos('fVol') == 1}">
										<span class="left-span">Mua</span>
										<span class="right-span">Bán</span>
									</span>
									<span ng-class="{hidden:StockBoardConfig.columnPosition.currentPos('fVol') == 0}">
										<span>Dư</span>
									</span>
            <a class="btn-link" ng-click="StockBoardConfig.columnPosition.upPos('fVol')"><i class="fa fa-caret-right"></i></a>
        </th>

        <th ng-if="StockBoardConfig.getBoardColumn()['cs1']['show'] == true" class="">
            <th-children-stockboard-table col-name="cs1"></th-children-stockboard-table>
        </th>

        <th ng-if="StockBoardConfig.getBoardColumn()['cs2']['show'] == true" class="">
            <th-children-stockboard-table col-name="cs2"></th-children-stockboard-table>
        </th>
        <th ng-if="StockBoardConfig.getBoardColumn()['cs3']['show'] == true" class="">
            <th-children-stockboard-table col-name="cs3"></th-children-stockboard-table>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ticker-stock-board
        ng-repeat="ticker in BoardCtrl.data.listCurrentTickers"
        ticker="{{ticker}}" ng-animate=" 'animate' ">
    </tr>
    </tbody>
</table>