<!--Đây là html của directive: tickerstockboard.js -->
<td ng-repeat="col  in StockBoardConfig.getBoardColumn()"
    ng-if="StockBoardConfig.getBoardColumn()[col.key]['show'] == true"

    td-ticker-stockboard="{{col.key}}"
    td-ticker-stockboard-type="{{col.type}}"
    td-ticker-stockboard-name="{{ticker}}"
    colspan="{{col.key == 'fVol' ? 2 : 1}}"

    watch-value="StockBoardTickerData.getTickers()[ticker][col.key]"
    refer-pri="{{ StockBoardTickerData.getTickers()[ticker]['ref']}}"
    cei-pri="{{ StockBoardTickerData.getTickers()[ticker]['cei']}}"
    flo-pri="{{ StockBoardTickerData.getTickers()[ticker]['flo']}}">
</td>