<div class="row">
    <div class="panel panel-default">
        <accordion>
            <accordion-group is-open="status.items.open">
                <accordion-heading>
                    Sản Phẩm <i class="pull-right fa fa-angle-right"
                                ng-class="{'fa-angle-down': status.items.open, 'fa-angle-right': !status.items.open}"></i>
                </accordion-heading>
                <table class="table table-bordered table-hover table-condensed bg-white">
                    <tr style="font-weight: bold">
                        <td style="width:5%">#</td>
                        <td>Tên</td>
                        <td>SKU</td>
                        <td>Giá</td>
                        <td>Tiền tệ</td>
                        <td>SL.Mua</td>
                        <td>SL.refunded</td>
                        <td>SL.Đã chuyển</td>
                        <td>Action</td>
                    </tr>
                    <tr ng-repeat="item in order.items">
                        <td class="v-middle" ng-class="{itemInstore: item.inStore == true}">
                            <span>{{item.id}}</span>
                        </td>
                        <td class="v-middle">
                            <span> {{ item.product_origin.name | cut:true:10:' ...'}}</span>
                        </td>
                        <td class="v-middle">
                            <span> {{ item.product_origin.sku |cut:true:10:' ...'}}</span>
                        </td>
                        <td class="v-middle">
                            {{ item.price || 0 }}
                        </td>
                        <td class="v-middle">
                            <span> {{ item.product_origin.currency || '' }}</span>
                        </td>
                        <td class="v-middle">
                            <span> {{ item.qty }}</span>
                        </td>
                        <td class="v-middle">
                            <span> {{ item.refunded }}</span>
                        </td>
                        <td class="v-middle">
                            <span editable-number="item.shipped" e-name="qty" e-form="rowform"
                                  onbeforesave="checkSaveQtyShipped($data,item)"
                                  e-required>{{ item.shipped}} </span>
                        </td>
                        <td style="white-space: nowrap">
                            <form editable-form name="rowform" onbeforesave="saveItem($data, item.id)"
                                  ng-show="rowform.$visible"
                                  class="form-buttons form-inline" shown="inserted == item">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-xs btn-info">
                                    lưu
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                        class="btn btn-xs btn-default">
                                    hủy
                                </button>
                            </form>
                            <div class="buttons"
                                 ng-show="!rowform.$visible && item.shipped <= (item.qty - item.refunded)">
                                <button class="btn btn-xs btn-info" ng-click="rowform.$show()">sửa
                                </button>
                                <button class="btn btn-xs btn-danger" ng-click="shipAllRow(item)">all</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="row pull-right m">
                    <button class="md-btn md-raised m-b btn-fw blue m-b-lg"
                            ng-click="back()">Quay lại
                    </button>
                    <button class="md-btn md-raised m-b btn-fw indigo m-b-lg"
                            ng-click="updateShipping()">Cập nhật Shipping
                    </button>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>
