<div lazy-load="ui.crud.editor">
    <div class="panel panel-default">
        <div class="panel-heading">
            <iz-filter-container iz-data-column-index='index = dataTable.filterConfig' iz-support-new-record='false'>
        </div>
        <div class="table-responsive">
            <table style="width: 99%" ui-crud-editor="dataTable"
                   ui-options="dataTable.tableOptions"
                   ui-editor-options="dataTable.editorOptions"
                   ui-editor-disable="true"
                   class="table table-striped b-t b-b">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Ngày tạo</th>
                    <th>Khách hàng</th>
                    <th>Tiền sản phẩm</th>
                    <th>Tiền Ship</th>
                    <th>Phụ phí</th>
                    <th>Trả trước</th>
                    <th>Refund</th>
                    <th>State</th>
                    <th># user</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
