<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive">
            <table class="table table-hover table-column-show-hide">
                <thead>
                <tr>
                    <th width="50%"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="column in StockBoardConfig.getBoardColumn()">
                    <td>{{column.name}}</td>
                    <td>
                        <md-switch class="switch-show-hide" ng-model="column.show" aria-label="{{column.name}}">
                        </md-switch>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>