.itemInstore {
    background-color: #0277bd;
}

.div200px {
    width: 200px;
}

.selected, .selected td {
    color: #563d7c !important;
    background-color: darkgray !important;
}

.dataTables_filter {
    display: none !important;
}
