<md-dialog6s aria-label="Header configuration">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Cài đặt hiển thị cột <span style="color: springgreen">{{data.currentCol.name}}</span></h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel">
                <i class="fa fa-times" aria-hidden="true"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Sắp Xếp">
                <md-content class="md-padding">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1">
                            <md-input-container>
                                <label>Sắp xếp chiều</label>
                                <md-select ng-model="data.sorter" ng-change="setSorterData()">
                                    <md-option value="none">
                                        Không sắp xếp
                                    </md-option>
                                    <md-option value="asc">
                                        Theo chiều tăng
                                    </md-option>
                                    <md-option value="desc">
                                        Theo chiều giảm
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-xs-2">

                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-if="data.sorter == 'asc' || data.sorter == 'desc' ">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Số lượng</label>
                                <input ng-model="StockBoardConfig.getFilterAndSorterData().sorterData.take" required
                                       ng-pattern="/^[0-9]*$/" placeholder="0" ng-model-options="{ debounce: 1500 }">
                            </md-input-container>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Bộ Lọc">
                <md-content class="md-padding">
                    <md-checkbox ng-model="data.isEnableFilter" aria-label="Enable Filter" ng-change="applyFilter()">
                        Bật chức năng filter
                    </md-checkbox>
                    <md-divider></md-divider>
                    <div class="row" style="padding-top: 15px" ng-show="data.isEnableFilter">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Lớn hơn</label>
                                    <input ng-model="data.gtFilter" ng-change="applyFilter()" required ng-pattern="/^[0-9]*$/"
                                           ng-model-options="{ debounce: 1500 }">
                                </md-input-container>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Bé hơn</label>
                                    <input ng-model="data.ltFilter" ng-change="applyFilter()" required ng-pattern="/^[0-9]*$/"
                                           ng-model-options="{ debounce: 1500 }">
                                </md-input-container>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog6s>